#contain{
  text-align: center;
}
#gameTitle{
  font-family: 'Baloo Paaji', cursive;
  color: white;
  font-size: 50px;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}
#control{
  display:inline-block;
}

#board{
  margin: auto;
  position: relative;

}

#canvas{
  background-color: #4BDAE3;
  border: 20px white solid;
  border-radius: 20px;
}

html{
  position: relative;
}

body{
  background-color: #4BDAE3
}
